body {
  padding-top: 50px;
}

nav a {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 18px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

nav .navbar-toggle {
  margin: 13px 15px 13px 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.navbar-brand {
  font-size: 30px;
}


nav.navbar.shrink {
  min-height: 35px;
}

nav.shrink a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 15px;
}

nav.shrink .navbar-brand {
  font-size: 25px;
}

nav.shrink .navbar-toggle {
  padding: 4px 5px;
  margin: 8px 15px 8px 0;
}

.fa-shield {
  color: orange;
}

.landingbg {
  background: url("https://s3.amazonaws.com/usersthink/11-large.jpg") no-repeat scroll center center / cover     rgba(0, 0, 0, 0);
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

.angular-google-map-container { height: 400px; }

.hero{
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    vertical-align: middle;
    background-image: url('http://s3.amazonaws.com/usersthink/11-large.jpg');
    background-position: top right;
    margin-bottom: 0;
}